@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    position: relative;
    min-height: 100%;
}

/* index.css */

:root {
    --navbar-bg-color: #1a202c; /* Set your desired background color */
    --navbar-text-color: #ffffff; /* Set your desired text color */
    --navbar-text-size: 16px; /* Set your desired text size */
    position: relative;
  }
  
  body {
    background-color: #f7fafc; /* Example body background color */
  }
/* Add this CSS to your styles */

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s infinite;
}
  